* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
}
h2 {
    display: flex;
}
.form {
    display: none;
}
.gameOver {
    display: none;
    justify-content: center;
    width: 20vw;
    height: 5vh;
    margin-top: 2em;
    border: none;
    background-color: rgb(227, 101, 101);
    color: white;
    border-radius: 10px;
    font-size: 27px;
}
.gameOver:hover {
    background-color: rgb(192, 58, 58);
}
.gameStart {
    display: flex;
    width: 20vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    background-color: rgb(87, 87, 219);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 27px;
}
.gameStart:hover {
    background-color: rgb(62, 62, 159);
}
.submit {
    background-color: black;
    border: none;
    color: white;
    width: 40px;
    border-radius: 3px;
}
.form-outline {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px;
}
.header {
    position: absolute;
    width: 40%;
    top: 1em;
}