* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
}
h2 {
    display: flex;
}
.form {
    display: none;
}
.gameOver {
    display: none;
    justify-content: center;
    width: 10vw;
    margin-top: 3em;
    background: transparent;
    border: 1px solid rgb(158, 157, 157);
    box-shadow: 0 0 5px;
}
.gameOver:hover {
    background-color: rgb(238, 236, 236);
}
.gameStart {
    display: flex;
    width: 10vw;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    background: transparent;
    border: 1px solid rgb(209, 209, 209);
    box-shadow: 0 0 5px;
}
.gameStart:hover {
    background-color: rgb(238, 236, 236);
}
.submit {
    background-color: black;
    border: none;
    color: white;
    width: 40px;
    border-radius: 5px;
}
.form-outline {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px;
}
.header {
    width: 40%;
    border: 1px solid rgb(217, 214, 214);
    border-radius: 10px;
}
.shape {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.shape:first-child {
    z-index: -1;
    left: -80px;
    top: -80px;
    background-color: rgb(87, 87, 219);
}
.shape:last-child {
    background-color: rgb(211, 78, 78);
    right: -140px;
    bottom: -80px;
}
.background {
    width: 400px;
    height: 400px;
    position: absolute;
    transform: translate(-60%,-40%);
    left: 50%;
    top: 44%;
    z-index: -2;
}